ul {
	margin-left: -15px;
}

li {
	border: 1px solid #ddd;
	margin-top: -1px;
	width: 200px;
	list-style-type: none;
	padding: 12px;
}

li a {
	text-decoration: none;
	color: black;
	display: block;
}

li:hover {
  background-color: #eee;
}
