<!DOCTYPE html>
<html>
    <head>
        <title>股票紅綠燈</title>
		<link type="text/css" href="/static/css/style.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
        <script src="/static/js/index.js"></script>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body>
        <h1><a href="/">股票紅綠燈</a></h1>
        <form action="/" method="get">
            股票名稱或代號：<input type="text" name="id" oninput="search(this)" autocomplete="off">
			<ul id="data">
			</ul>
        </form>
        <p>更新時間：{{ formatTime .UpdatedAt }}</p>
        <table>
            <tr>
                <th>股票號碼</th>
                <th>股票名稱</th>
                <th>收盤價</th>
                <th>一年</th>
                <th>五年</th>
                <th>十年</th>
                <th>月營收</th>
                <th>年營收</th>
            </tr>
        {{ $hasQuery := .query}}
        {{range .stocks}}
            <tr id='tr-{{ .ID }}'>
            {{ if not .IsNil }}
                <td>{{.ID}}</td>
                <td>{{.Name}}</td>
                <td>{{percent .Price}}</td>
                {{range .Returns}}
                    <td bgcolor="{{getColor .}}">{{percent .}}%</td>
                {{end}}
                <td>{{ percent .MonthRevenue }}%</td>
                <td>{{ percent .YearRevenue }}%</td>
                <td>
                {{ if $hasQuery }}
                    <button type="button" onclick="save({{ .ID }})">釘選</button>
                    {{ $hasQuery = false }}
                {{ else }}
                    <button type="button" onclick="remove({{ .ID }})">移除</button>
                {{ end }}
                </td>
            {{ else }}
                <td>----</td>
                <td>Not Found</td>
                {{ if $hasQuery }}
                    {{ $hasQuery = false }}
                {{end}}
            {{ end }}
            </tr>
        {{end}}
        </table>
    </body>
</html>
